*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,textarea,button,select,a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,a:visited,a:active{
    outline: none;
}

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#010758,#490d61,#490d61);
    background-size: 140% 140%;
    animation: bgAni 5s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container h1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: -5vh;
    margin-bottom: 5vh;
    text-align: center;
    color: #fff;
    padding: 0.2rem 0.6rem;
}

.container h1 span{
    color: #ff2963;
}

textarea{
    width: 80vmin;
    height: 35vmin;
    background: linear-gradient(45deg,#490d61,#490d61,#010758);
    background-size: 140% 140%;
    animation: textareaAni 5s ease-in-out infinite;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #000;
    resize: none;
    margin-bottom: 3vh;
}

textarea::placeholder{
    color: #ddd;
    font-size: 1.6rem;
}

textarea:hover{
    box-shadow: 0 0 1rem #ff2963;
}

.row{
    width: 80vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vmin;
}
 
button{
    width: 20vmin;
    background-color: #ff2963;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
button span{
    font-size: 1rem;
}
button:hover{
    box-shadow: 0 0 1rem #ff2963;
}

select{
    width: 50vmin;
    flex: 1;
    color: #fff;
    background-color: transparent;
    height: 6.5vh;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #000;
    cursor: pointer;
    /* appearance: none;
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: calc(100% - 0.5rem); */
}
select:hover{
    box-shadow: 0 0 1rem #ff2963;
}

option{
    color: #fff;
    background-color:#490d61;
    height: 4vh;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #000;
    cursor: pointer;
}

@keyframes bgAni {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
@keyframes textareaAni {
    0%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 5px;
  }
  
  /* Track styles */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; Background color of the track */
    background: linear-gradient(45deg,#490d61,#010758,#010758,);
    background-size: 140% 140%;
    animation: bgAni 5s ease-in-out infinite;
    border-radius: 5px;
  }
  
  /* Handle styles */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right,#ff2963,#ff2963); /* Gradient background for the handle */
    border-radius: 5px; /* Rounded corners for the handle */
  }
  
  /* Handle hover styles */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #4776e6, #8e54e9); /* Gradient background for the handle on hover */
  }
  